/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Project exclude paths
/public/Admin/node_modules/
public/Templates/modist/.DS_Store
public/Templates/modist/css/.DS_Store
public/Templates/modist/css/bootstrap/.DS_Store
public/Templates/modist/css/css/.DS_Store
public/Templates/modist/fonts/.DS_Store
public/Templates/modist/fonts/flaticon/.DS_Store
public/Templates/modist/fonts/ionicons/fonts/.DS_Store
public/Templates/modist/images/.DS_Store
public/Templates/modist/js/.DS_Store
public/Templates/modist/scss/.DS_Store
